.btn-flat {
	background-color: purple;
	color: white;
}

.message-list {
	overflow-y: scroll;
	height: 275px;
	width: 480px;
	border: 1px solid lightslategray;
	border-radius: 5px;
}
.convo-view {
	height: 20rem;
}

.message-wrapper {
	margin: 10px;
}

.message-body {
	max-width: 300px;
	border-radius: 4px;
	background-color: #dcf7e4;
	padding: 5px;
}
.my-message {
	background-color: #dcf7e4;
	margin-left: 160px;
	padding: 5px;
}
.profile-pic {
	max-height: 250px;
	max-width: 200px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.564);
}
.search-profiles {
	/* width: 400px; */
	margin: 5px;
	text-align: center;
	display: inline-block;
}
.button-center {
	margin-left: 70px;
}
.jumbotron {
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-image: url("imgs/adult-business-deal-collaboration-1376864.jpg");
}
/* .single-card {
	display: inline-block !important;
	width: 300px;
	height: 300px;
	margin: 100px;
} */
